body {
  padding: 30px;
  border: 1px solid black;
}

.container {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  background-color: #2196f3;
  padding: 50px;
}

.container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}

.imageContainer {
  border: 3px solid blue;
  width: 200px;
}

img {
  height: 500px;
}